<a href="https://colab.research.google.com/github/MrCalmTam/AI_NORON/blob/main/AI_24_03_pima_indians_diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
wl = '/content/pima-indians-diabetes.csv'
data=pd.read_csv(wl)
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [ ]:
from sklearn.linear_model import Perceptron
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score # sai so , do chinh xac
from sklearn.preprocessing import StandardScaler # chuan hoa du lieu, ti le

In [ ]:
iris=datasets.load_iris() 
X = iris.data
Y = iris.target

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)
sc=StandardScaler()  #dat ham 
sc.fit(X_train)   
X_train_std=sc.transform(X_train) # chuyen du lieu x tran thanh std 
X_test_std=sc.transform(X_test)   # chuyen du lieu x tran thanh std

In [ ]:
model = Perceptron(max_iter = 100 ,eta0 = 0.5 , random_state =0 )   # day cho no hoc , max_iter la so lan hoc, eta0 la toc do hoc tu 0 ->1.
model.fit(X_train_std,Y_train)
Y_pred=model.predict(X_test_std)
print(Y_pred)
print(Y_test)
print(' ĐỘ CHÍNH XÁC CỦA MÔ HÌNH SCALE :',accuracy_score(Y_test,Y_pred))

[2 2 1 1 1 2 0 2 2 1 0 2 0 1 2 1 0 2 1 2 0 0 1 1 1 2 1 0 0 0 0 0 1 1 0 0 2
 0 0 1 0 0 0 2 2]
[2 2 1 1 1 2 0 2 2 1 0 2 0 1 2 1 0 2 2 2 0 0 1 2 2 2 1 0 0 0 0 0 1 1 0 1 2
 0 0 1 0 1 0 2 2]
 ĐỘ CHÍNH XÁC CỦA MÔ HÌNH SCALE : 0.8888888888888888