<a href="https://colab.research.google.com/github/MrCalmTam/AI_NORON/blob/main/AI_24_03_ANN_LUNG_CANCER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
wl = '/content/lung_cancer_examples.csv'
data=pd.read_csv(wl)
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [ ]:
data = data.drop(['Name'], axis=1)
data = data.drop(['Surname'], axis=1)

In [ ]:
from sklearn.linear_model import Perceptron
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score # sai so , do chinh xac
from sklearn.preprocessing import StandardScaler # chuan hoa du lieu, ti le

In [ ]:
iris=datasets.load_iris() 
X = iris.data
Y = iris.target

In [ ]:
X = data.iloc[:,0:4]
Y = data.iloc[:,1]

AttributeError: ignored

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)
sc=StandardScaler()  #dat ham 
sc.fit(X_train)   
X_train_std=sc.transform(X_train) # chuyen du lieu x tran thanh std 
X_test_std=sc.transform(X_test)   # chuyen du lieu x tran thanh std

In [ ]:
model = Perceptron(max_iter = 100000 ,eta0 = 0.1 , random_state =0 )   # day cho no hoc , max_iter la so lan hoc, eta0 la toc do hoc tu 0 ->1.
model.fit(X_train_std,Y_train)
Y_pred=model.predict(X_test_std)
print(Y_pred)
print(Y_test)
print(' ĐỘ CHÍNH XÁC CỦA MÔ HÌNH SCALE :',accuracy_score(Y_test,Y_pred))

[2 1 2 2 1 1 2 0 1 1 2 0 2 2 1 2 2 1 1 2 0 2 2 2 2 1 1 0 1 0 1 0 1 2 1 0 2
 1 1 2 2 2 2 2 2]
[2 0 2 1 0 1 1 0 1 1 2 1 2 1 0 2 2 1 1 2 0 2 2 1 2 2 2 0 1 0 1 0 1 1 1 0 2
 1 0 1 2 2 2 1 2]
 ĐỘ CHÍNH XÁC CỦA MÔ HÌNH SCALE : 0.6888888888888889